{% extends 'home.html' %} {% block content %}

<table width="100%">
  <tr>
    <td colspan="3" width="100%">
      <div class>
        <h2>Assistant Programmer</h2>
        <p>Published date</p>
        <p>
          <img
            src="../static/images/stories/p.jpg"
            alt="Mohammad Humayun Kabir"
            width="400"
            height="300"
          />
        </p>

        <h1 style="color: green">Mohammad Humayun Kabir</h1>
        <h2 style="color: #01406a">Assistant Programmer</h2>
        <p style="padding-bottom: 482px">
          National Institute of Laboratory Medicine and Referral Center<br />
          Sher-E-Bangla Nagar, Agargaon<br />
          Dhaka-1207, Bangladesh<br />
          Phone: 01912-926049<br />
          PABX: 509<br />
          Email: mhkabirsco@gmail.com
        </p>
      </div>
    </td>
  </tr>
</table>

{% endblock %} {% comment %}
<p>
  <img
    src="../static/images/stories/np-logo-set.png"
    alt="Trulli"
    width="200"
    height="100"
  />
</p>
{% endcomment %}
